<div class="span3">
  <ul class="nav nav-list">
    <!-- 下面每个li对应一个页面，具体是哪一个页面，把对象的li加上class＝"set"即可 -->
    <!-- i的class代表图标，如icon1,icon2等，只需求根据需要选用即可，可选值1－12 -->
    <li class="nav-header">工作人员出差管理</li>
    <li><a href="/workers/start"><i class="cus-icon9"></i>当前状态</a></li>
    <li><a href="/workers/trips"><i class="cus-icon7"></i>出差管理</a></li>
    <li class="active"><a href="#"><i class="cus-icon12-white"></i>出差历史查询</a></li>
  </ul>
</div>