<% provide(:title, '技术支持') %>
<div class="span9">
  <h5>技术支持</h5>

  <p>
    用户分三种：管理员、司机和工作人员<br>
    管理员账户：admin<br>
    司机和工作人员均为其中文姓名<br>
    默认密码均为六个零<br>
    <br>

    管理员可对车辆、司机和工作人员、出差地、出差事由进行增删改查操作，对出差记录进行删改查操作<br><br>

    司机可对出差记录进行增删改查操作<br><br>

    工作人员可对出差记录进行改查操作<br><br>

    司机和工作人员都有出差和未出差两种状态 根据提示进行操作<br><br>

    出差管理项可对当年的出差记录进行相应的删改查操作<br><br>
    出差历史查询可对上一年的出差记录进行相应的删改查操作<br> <br>

    有任何问题请联系信息班运维人员。

  </p>
</div>