<div class="span3">
  <ul class="nav nav-list">
    <!-- 下面每个li对应一个页面，具体是哪一个页面，把对象的li加上class＝"set"即可 -->
    <!-- i的class代表图标，如icon1,icon2等，只需求根据需要选用即可，可选值1－12 -->
    <li class="nav-header">管理系统</li>
    <li><a href="./trips"><i class="cus-icon7"></i>出差管理</a></li>
    <li><a href="./cars"><i class="cus-icon4"></i>车辆管理</a></li>
    <li><a href="./drivers"><i class="cus-icon2"></i>司机管理</a></li>
    <li><a href="./groups"><i class="cus-icon9"></i>工作班组管理</a></li>
    <li><a href="./workers"><i class="cus-icon11"></i>工作人员管理</a></li>
    <li><a href="./destinations"><i class="cus-icon6"></i>出差地信息</a></li>
    <li class="active"><a href="./notes"><i class="cus-icon5-white"></i>事由选项</a></li>

    <li class="nav-header">出差历史信息查询</li>

    <li><a href="./workers-history"><i class="cus-icon8"></i>工作人员信息</a></li>
    <li><a href="./drivers-history"><i class="cus-icon12"></i>司机信息</a></li>

  </ul>
</div>