<% provide(:title, '首页') %>
<ul class="nav nav-tabs">
  <li>
    <a href="/index">车辆情况</a>
  </li>
  <li><a href="/alert">维护提醒 <% if @alert_count > 0 %>
    <span class="badge badge-warning"><%= @alert_count%></span>
    <% end %></a></li>
  <li class="active"><a href="/stat">驾驶员信息</a></li>
</ul>
<div class="content span12">
  <div class="row">
    <div class="span12 alert_title">
      <h4>驾驶员信息</h4>
    </div>
  </div>

  

  <div class="row">
    <div class="span12">
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table id="stats" class="table table-hover table-striped table-bordered" cellpadding="0" cellspacing="0"
             border="0" data-source="<%= stat_url(format: "json") %>">
        <thead>
        <tr class="alert alert-success">
          <th>性别</th>
          <th>性别</th>
          <th>驾龄</th>
          <th>出差次数</th>
          <th>事故次数</th>
          <th>联系电话</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>