table {
  margin-top: 25px;
}

table caption {
  color: #444;
  font-size: 16px;
  height: 18px;
  line-height: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.tr-hover {
  background-color: #b9e9bb;
}

#myModalLabel {
  text-align: center;
}

.form-horizontal {
  margin-top: 15px;
}