.form-horizontal .control-label {
  width: 131px;
}
.form-horizontal .controls {
  *padding-left: 15px;
  margin-left: 146px;
}
.form-horizontal .controls:first-child {
  *padding-left: 146px;
}

#error_explanation {
  margin-left: -25px;

}

.title {
  margin-top: 25px;
  margin-left: 145px;
  margin-bottom: 20px;
}

.alert{
  margin-left: 65px;
}

