<% provide(:title, '部件监督管理') %>

<div class="content span9">
  <h4>部件监督管理</h4>

  <div class="row">
    <div class="span9">
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <table id="supervises" class="table table-hover table-striped table-bordered" cellpadding="0" cellspacing="0"
             border="0" data-source="<%= admins_supervises_url(format: "json") %>">
        <thead>
        <tr class="alert alert-success">
          <th>监督部件</th>
          <th>所属车辆</th>
          <th>启用时间</th>
          <th>里程状况</th>
          <th>寿命状态</th>
          <th>状态</th>
          <th>更改</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

